@page "{id:int}"
@model iapCoursework2.Pages.CategoryProductModel
@{
}

<h1 class="nrp-heading">Products</h1>
<article class="product-gallery">

    @foreach (var product in Model.CProducts)
    {
        <article class="item-container">
            <a asp-page="/IndividualProduct" asp-route-id="@product.Id"><img class="product-icon" src="~/@product.ProductIcon"></a>
            <a asp-page="/IndividualProduct" asp-route-id="@product.Id"><p class="product-name-home">@product.Name</p></a>
            <p>£@product.Price</p>
            <a asp-page="/EditProductForm" asp-route-id="@product.Id"><p>Edit</p></a>
            <a asp-page="/Products" asp-route-id="@product.Id" asp-page-handler="Delete">Delete</a>
        </article>
    }

</article>