@page
@model iapCoursework2.Pages.ManageUserModel
@{
}
<article class="form-container">
<h1>Manage Users</h1>

<h2>Add Role</h2>
<form method="post">
    <div class="form-group">
        <label asp-for="roleName"></label>
        <input asp-for="roleName" class="form-control" />
        <span asp-validation-for="roleName" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Add New Role</button>
</form>

<h2>Roles</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>User Roles</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model.Roles)
        {
            <tr>
                <td>@role.Id</td>
                <td>@role.Name</td>
                <td>
                    <a asp-page="/ManageUser" asp-route-id="@role.Id" asp-page-handler="Delete">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<h2>Users</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.UserName</td>
                    <td>@user.FName</td>
                    <td>@user.LName</td>
                    <td>@user.Email</td>
                    <td>
                        <a asp-page="/ManageUser" asp-route-id="@user.Id" asp-page-handler="Delete">Delete</a>
                    </td>
                </tr>
            }
    </tbody>
</table>
</article>