@page
@model iapCoursework2.Pages.SearchModel
@{
}

<h1>Search Products</h1>

<form method="get">
    <div>
        <input type="text" asp-for="SearchTerm" placeholder="Search for products...">
        <button type="submit">Search</button>
    </div>
</form>

@if (Model.Products != null && Model.Products.Any())
{
    <h2>Search Results</h2>
    <article class="product-gallery">
        @foreach (var product in Model.Products)
        {
            <article class="item-container">
                <a asp-page="/IndividualProduct" asp-route-id="@product.Id"><img class="product-icon" src="@product.ProductIcon"></a>
                <a asp-page="/IndividualProduct" asp-route-id="@product.Id"><p class="product-name-home">@product.Name</p></a>
                <p>£@product.Price</p>
                <a asp-page="/EditProductForm" asp-route-id="@product.Id"><p>Edit</p></a>
                <a asp-page="/Products" asp-route-id="@product.Id" asp-page-handler="Delete">Delete</a>
            </article>
        }
    </article>
}
else if (Model.SearchTerm != null)
{
    <p>No results found for "@Model.SearchTerm".</p>
}
